files/
*.zip
.vscode/
*.ok
ok
*.out
*.ico
*.exe
*.gif
*.ttf
*.css
*.png
*.js
*.jpg
*.html
*.mp3
*.txt
*.sql
*.json
*.scm
*.dat
*.dir
*.bak
__pycache__/
.editorconfig
tests/
construct_check.py
__init__.py
scheme
scheme_reader
libs
mytests.rst
.ok_history
gui_files/
default_graphics.py
hog_gui.py
dice.py
test.py
cats_gui.py
projects/hogcon/
projects/proj01-/.gitignore
homework/hw00-/.gitignore
labs/lab00-/.gitignore
homework/hw01-/.gitignore
homework/hw02-/.gitignore
labs/lab01-/.gitignore